<!DOCTYPE html>
<html>

<head>
  <!-- Bootstrap styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
</head>

<body class="bg-dark">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

  <!-- Begin page content -->
  <main role="main" class="container mt-4 text-white bg-dark">
    <div class="container mt-4 text-center">

      <div class="victim_detail h1">
        {{ victim_name }}
      </div>

      <div class="h2 mt-4">
        {% if birth_or_death == "birth" %}
        Birth:
        {{ birth_date }}
        {% else %}
        Death:
        {{ death_date }}
        {% endif %}
      </div>

      <div class="row headers">
        <div class="col-sm year h6"> Year </div>
        <div class="col-sm month h6"> Month </div>
        <div class="col-sm day h6"> Day </div>
        <div class="col-sm hour h6"> Hour </div>
        <div class="col-sm minute h6"> Minute </div>
        <div class="col-sm second h6"> Second </div>
      </div>
      <div class="row clock mt-2" data-birth-or-death='{{ birth_or_death }}'>
        <div class="col-sm year small"></div>
        <div class="col-sm month small"></div>
        <div class="col-sm day small"></div>
        <div class="col-sm hour small"></div>
        <div class="col-sm minute small"></div>
        <div class="col-sm second small"></div>
      </div>

      <div class="h2 mt-4">
        {% if birth_or_death == "birth" %}
        Lifelong clock moving forward from birth
        {% else %}
        Lifelong clock moving backward from death
        {% endif %}
      </div>

    </div>
  </main>

  <script type="text/javascript" src="{{ url_for('static', filename='js/detail.js') }}"></script>

</body>

</html>