<!DOCTYPE html>
<html>

<head>
  <!-- Bootstrap styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
</head>

<body>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
    integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Navigation -->

  <header class="header" style="background-color: #f5f5f5;">
    <div class="container">
      <ul class="nav justify-content-start pb-4 pt-4">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Black Lives Matter</a>
        </li>
      </ul>
    </div>
  </header>

  <!-- Begin page content -->
  <main role="main" class="container mt-4">
    <div class="victim_detail h1">
      {{ victim_name }}
    </div>

    <div class="container mt-4">
      <div class="h2 mt-4">
        Dead since:
      </div>

      <div class="row headers">
        <div class="col-sm years h6"> Years </div>
        <div class="col-sm months h6"> Months </div>
        <div class="col-sm days h6"> Days </div>
        <div class="col-sm hours h6"> Hours </div>
        <div class="col-sm minutes h6"> Minutes </div>
        <div class="col-sm seconds h6"> Seconds </div>
        <div class="col-sm milliseconds h6"> Milliseconds </div>
      </div>
      <div class="row time_since_death mt-2">
        <div class="col-sm years small"></div>
        <div class="col-sm months small"></div>
        <div class="col-sm days small"></div>
        <div class="col-sm hours small"></div>
        <div class="col-sm minutes small"></div>
        <div class="col-sm seconds small"></div>
        <div class="col-sm milliseconds small"></div>
      </div>

      <div class="h2 mt-4">
        Dead since exhibit started:
      </div>

      <div class="container mt-2">
        <div class="row headers">
          <div class="col-sm years h6"> Years </div>
          <div class="col-sm months h6"> Months </div>
          <div class="col-sm days h6"> Days </div>
          <div class="col-sm hours h6"> Hours </div>
          <div class="col-sm minutes h6"> Minutes </div>
          <div class="col-sm seconds h6"> Seconds </div>
          <div class="col-sm milliseconds h6"> Milliseconds </div>
        </div>
      </div>
      <div class="row time_dead_since_exhibit mt-2">
        <div class="col-sm years small"> </div>
        <div class="col-sm months small"> </div>
        <div class="col-sm days small"> </div>
        <div class="col-sm hours small"> </div>
        <div class="col-sm minutes small"> </div>
        <div class="col-sm seconds small"> </div>
        <div class="col-sm milliseconds small"> </div>
      </div>
    </div>
  </main>

  <script type="text/javascript" src="{{ url_for('static', filename='js/detail.js') }}"></script>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Black Lives Matter</span>
    </div>
  </footer>

</body>

</html>